.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.list-todo{
  line-height: 20px;
  text-align: left;
}
.list-todo input , .list-todo button{
  margin-left: 20px;
  margin-top: 20px;
  outline-color: palevioletred;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid palevioletred;
  border-radius: 2px;
}
.list-todo input{
  height: 30px;
}
.list-todo button{
  height: 34px;
}
.list-todo h4{
  margin-left: 20px;
  margin-top: 20px;
  color: palevioletred;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.list-todo .btn{
  padding: 3px 10px;
  background-color: palevioletred;
  color: #fff;
  border: 0 solid;
  border-radius: 2px;
  outline-style: none; 
  cursor: pointer;
 }
 .list-todo .btn-clear{
  padding: 3px 10px;
  background-color: rebeccapurple;
  color: #fff;
  border: 0 solid;
  border-radius: 2px;
  outline-style: none; 
  cursor: pointer;
 }
 .list-todo .btn-refresh{
  padding: 3px 10px;
  background-color: orangered;
  color: #fff;
  border: 0 solid;
  border-radius: 2px;
  outline-style: none; 
  cursor: pointer;
 }
 .list-todo .btn-update{
  background-color: blue;
  margin-left: 5px;
 }
 .list-todo .btn-delete{
    padding: 3px 10px;
    background-color: red;
    color: #fff;
    border: 0 solid;
    border-radius: 30px;
    outline-style: none;
    cursor: pointer;
    margin: 0;
    align-self: center;
    position: absolute;
    right: 0;
    margin-right: 16px;
    display: none;
    transition: all 4s ease;
    z-index: 3;
 }
 .list-todo .btn-show-update{
    padding: 3px 10px;
    background-color: blue;
    color: #fff;
    border: 0 solid;
    border-radius: 30px;
    outline-style: none;
    cursor: pointer;
    margin: 0;
    align-self: center;
    position: absolute;
    right: 0;
    margin-right: 120px;
    display: none;
    transition: all 4s ease;
    z-index: 3;
 }
.list-todo ul {
  list-style: none;
  padding-left: 20px;
}
.list-todo ul li{
  list-style: none;
  padding: 5px 10px 5px 0px;
  cursor: pointer;
  color: palevioletred;
}


.list-todo li::before {content: ""; color: palevioletred}

.list-todo ul li:hover .btn-delete , .list-todo ul li:hover .btn-show-update{
  display: block;
}

.posision-r{
  position: 'sticky'
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width:800px) {
  .list-todo input {
    width: 88%;
    margin-right: 16px;
  }
  .list-todo .btn-show-update{
    left: 14px;
    font-size: 10px;
    padding: 1px 10px;
    height: 20px;
    display: block;
    text-align: center;
  }
  .list-todo .btn-delete{
    left: 14px;
    margin-top: 40px;
    font-size: 10px;
    height: 20px;
    padding: 1px 12px;
    text-align: center;
    display: block;
  }
  .posision-r{
    position: relative;
  }
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input::placeholder {
  color: palevioletred;
  opacity: 0.5; /* Firefox */
}
.alert-cfg{
  max-width: 300px;
}